*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: #f6f6f6;
    
}
.container{
    width: 450px;
    background-color: #0088d2;
    border-radius: 70px 0px 70px 0px;
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    transform: translateY(50%);
    flex-direction: column;   
}
.container h2{
    margin: 2rem 0;
    text-align: center;
    padding-bottom:2rem;
    color: #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    font-size: 2rem;
}
form{
    margin-bottom: 2rem;
}
.form ,label, input{
    display: block;
    width: 100%;
}
.form ,label{
    margin-bottom: 1px;
    color: #f6f6f6;
    font-size: 18px;
}
.form ,input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.form  .link_1{
    width: 100%;
    background-color: #f6f6f6;
    height: 50px;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #000;
}
.link_2{
    color: #f6f6f6;
    text-decoration: none;
}
.link_2:hover{
    text-decoration: underline;
}